.app {
  display: flex;
  flex-direction: column;
}

.quote-box {
  text-align: center;
  width: 33%;
  margin-top: 15%;
  margin-left: 33%;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;
}

.author {
  margin-right: auto;
}

.primary {
  color: #1da1f2 !important;
  margin-right: auto;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.new-quote {
  text-transform: capitalize !important;
  color: #657786 !important;
}
